body>header {
  position: absolute;
  margin-top: 120px;
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: center;


  background-color: rgb(235, 180, 243);
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}

/* Avatar image */
header img {
  display: inline-flex;
  left: 42vw;
  top: 15px
}

/* Name Text */
header h2 {
  margin-top: 0px;
  margin-left: 0px;
  color: rgb(125, 7, 146);
}