nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background: #580378;
  color: #ffffff;
  padding: 1.5em;
  position: fixed;
  top: 0%;
  z-index: 1;
  width: 100%;
}

nav>span {
  font-family: "Bungee", sans-serif;
  font-size: 2em;
}

.writeTweet {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1em;
  transition: 0.1s;
}

.writeTweet:hover {
  animation: MoveUpDown is linear infinite;
  margin-bottom: 10px;
}

.writeTweet:hover>.arrow {
  margin-top: 10px;
}

.writeTweet:active {
  background-position: 0 10%;
  margin-bottom: 0;
}

.bold {
  font-weight: 600;
}

/* angle-double-down icon */
nav i {
  font-family: 'Bungee', sans-serif;
  font-size: 35px;
  color: rgb(250, 6, 246);
  animation: MoveUpDown 1s linear 3;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav i:hover {
  color: rgba(26, 139, 251, 0.9);
  transition: color 0.5s ease;
}

@keyframes MoveUpDown {

  0%,
  50% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}