.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: 90, 87, 77;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

form div {
  font-family: Bungee;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}

form button {
  background-color: #660980;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.1em 0.5em;
}

textarea {
  border: none;
  background-color: transparent;
  border-bottom: purple 0.2em solid;
  margin-bottom: 0.6em;
  outline: none;
  resize: none;
}

.errorText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: none;
  color: rgb(252, 57, 181);
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}