.tweet-container {
  display: flex;
  flex-direction: column;
}

article.tweet {
  display: flex;
  flex-direction: column;
  border: 3px solid #2d0234;
  padding: 1em;
  margin: 10px 0px;
}

article.tweet > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 3em;
}

article.tweet > header > h4 {
  visibility: hidden;
  color: #d9bde8;
  font-size: 22px;
}

div.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header > div.user > p {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 600;

}

article.tweet > p {
  border-bottom: 3px solid;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 1em;
  margin-bottom: 10px;
  font-size: 20px;
  
}

article.tweet > footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: medium;
}

article.tweet > footer > div > i {
  margin-left: 3px;
  margin-right: 3px;
}

article.tweet > footer > div > i:hover {
  color: rgba(226, 4, 250, 0.9);
  transition: color 0.5s ease;
}

article.tweet:hover {
  opacity: 1;
  box-shadow: 5px 5px #c98eee;
  text-shadow: 0.4px 0.4px #5f5c53;
}

article.tweet:hover > header > h4 {
  visibility: hidden;
  text-shadow: 0.3px 0.3px #b4b4b4;
}
